<div class="py-10">
  <table>
    <tr class="text-center">
      <th class="text-start">Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th></th>
    </tr>
    <tr class="text-center">
      <td class="text-start">Nombre del producto</td>
      <td>2</td>
      <td>$20.00</td>
      <td>Quitar</td>
    </tr>
    <tr id="dismiss-unstyled" class="text-center transition duration-300 hs-removing:translate-x-5 hs-removing:opacity-0">
        <td class="text-start">Nombre del producto</td>
        <td>2</td>
        <td>$20.00</td>
        <td>
          <button type="button" class="inline-flex items-center justify-center size-4" data-hs-remove-element="#dismiss-unstyled">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg>
          </button>
        </td>
      </tr>
  </table>
</div>
